In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('adult/adult.data', header=None, names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income'])
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
# 1 - Число столбцов в наборе данных

print(f"Число столбцов: {len(df.columns)}")

Число столбцов: 15

In [4]:
# 2 - Есть ли пропуски в данных? Если есть, то в каких столбцах

columns_with_question_marks = []
for column in df.columns:
    if df[column].isin([' ?']).any():
        columns_with_question_marks.append(column)
if len(columns_with_question_marks) == 0:
    print("Пропусков нигде нет")
else:
    for column in columns_with_question_marks:
        print(f"{column}: {df[df[column] == ' ?'].shape[0]}")

workclass: 1836
occupation: 1843
native-country: 583

In [77]:
# 3 - Кол-во уникальных значений в столбце race

print(f"Кол-во уникальных значений в `race`: {df['race'].nunique()}")

Кол-во уникальных значений в `race`: 5

In [67]:
# 4 - Медиана hours-per-week

print(f"Медиана `hours-per-week`: {df['hours-per-week'].median()}")

Медиана `hours-per-week`: 40.0

In [68]:
# 5 - Кого больше - женщин или мужчин с ЗП >50K?

high_income = df['income'] == ' >50K'
men_count = df[high_income]['sex'].value_counts()[' Male']
women_count = df[high_income]['sex'].value_counts()[' Female']

if men_count > women_count:
    print("Больше мужчин с ЗП >50K")
elif women_count > men_count:
    print("Больше женщин с ЗП >50K")
else:
    print("Мужчин и женщин с ЗП >50K примерно поровну")

Больше мужчин с ЗП >50K

In [69]:
# 6 - Заполните пропущенные данные в отдельных столбцах наиболее встречаемыми значениями. Как еще можно было бы заполнить пропущенные данные?

columns = ['workclass', 'occupation', 'native-country']
for col in columns:
    most_common = df[c].mode()[0]
    df.replace({col: ' ?'}, most_common, inplace=True)

In [70]:
# Проверка, что данные обновились 

columns_with_question_marks = []
for column in df.columns:
    if df[column].isin([' ?']).any():
        columns_with_question_marks.append(column)
if len(columns_with_question_marks) == 0:
    print("Пропусков нигде нет")
else:
    for column in columns_with_question_marks:
        print(f"{column}: {df[df[column] == ' ?'].shape[0]}")

Пропусков нигде нет